# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*

!.gitignore
!.python-version
!pyproject.toml
!uv.lock

!*.md
!*.py

!Dockerfile
!config.yaml
!docker-compose.yaml

!.github/
!.github/workflows/
!.github/workflows/*.yml
