# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*

!.gitignore
!.python-version
!pyproject.toml
!uv.lock

!*.md
!*.py

!config.yaml

!.github/
!.github/workflows/
!.github/workflows/*.yml
